*.elf
*.hex
*.lst
*.map
*.eep
*.o
*.swp
*.bak
.dep/*
key.h
cfg1_payload?.bin
cfg1_payload?.h
payload?.bin
stage2.bin
stage2a.bin
stage2a.h
stage2b.bin
stage2b.h
main.bin
tools/bin2header
Boards/free3/free3-cache.lib
Boards/free3/free3.ps
Boards/free3/free3.svg
